<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle%></title>
     <link  rel="stylesheet" href="/css/bootstrap.min.css"> 
</head>
<body>
    <div style="background-color:rgb(245, 245, 245)"> 
            <div class="container text-center" >
                <h2 class="display-4 text-info">ABC Schooling System Karachi |
                    <small class="text-muted lead ">Add New Student</small>
                </h2>
            </div >


            <div class="container p-3 mb-2 bg-light text-dark rounded-circle" >
                <form action="/"  class="form-row" style="padding-top: 45px;" >
                <div class="form-group col-sm-5">
                    <label for="name" class="text-info">Student Name  </label>
                    <input type="text" class="form-control " id="studentName" placeholder="Student Name">
                </div>


                 <div class="form-group col-sm-5">
                    <label for="father-name" class="text-info">Father Name  </label>
                    <input type="text" class="form-control" id="fatherName" placeholder="Father Name">
                </div> 

                <div class="form-group col-sm-10">
                    <label for="Address" class="text-info">Home Address  </label>
                    <input type="text" class="form-control " id="studentName" placeholder="Address">
                </div>
                <div class="form-group col-sm-5">
                    <label for="phone-number" class="text-info">Phone Number  </label>
                    <input type="text" class="form-control " id="phone-number" placeholder="Phone Number">
                </div>


                 <div class="form-group col-sm-5">
                    <label for="Home-phone" class="text-info">Home Phone  </label>
                    <input type="text" class="form-control" id="Home-phone" placeholder="Home-phone">
                </div>


                </form>
            </div>
            <div>
                
            </div>


    </div>
    
</body>
</html>