<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle%></title>
    <script>
    let submit = document.getElementById('submitButton');
    function EmptyValidation()
    {
        let studentName = document.getElementById('studentName').value;
        let fatherName = document.getElementById('fatherName');
        let hAddress = document.getElementById('Home-Address');
        let phoneNumber = document.getElementById('phone-number');
        let hPhoneNumber = document.getElementById('Home-phone');
    
    }
    </script>
     <link  rel="stylesheet" href="/css/bootstrap.min.css">
      
</head>
<body>
    <div style="background-color:rgb(245, 245, 245)"> 
            <%- include('includes/head.ejs')%>


            <div class="container p-3 mb-2 bg-light text-dark rounded-circle" >

                <form action="/"  class="form-row" style="padding-top: 45px;" method="POST">
                <div class="form-group col-sm-5">
                    <label for="name" class="text-info">Student Name  </label>
                    <input type="text" class="form-control " name="student_name" id="studentName" placeholder="Student Name">
                </div>


                 <div class="form-group col-sm-5">
                    <label for="father-name" class="text-info">Father Name  </label>
                    <input type="text" class="form-control" name="father_name" id="fatherName" placeholder="Father Name">
                </div> 

                <div class="form-group col-sm-10">
                    <label for="Address" class="text-info">Home Address  </label>
                    <input type="text" class="form-control " name="home_address" id="Home_Address" placeholder="Address">
                </div>
                <div class="form-group col-sm-5">
                    <label for="phone-number" class="text-info">Phone Number  </label>
                    <input type="text" class="form-control " name="phone_number" id="phone_number" placeholder="Phone Number">
                </div>


                 <div class="form-group col-sm-5">
                    <label for="Home-phone" class="text-info">Home Phone  </label>
                    <input type="text" class="form-control" name="home_phone" id="Home_phone" placeholder="Home-phone">
                </div>

                <div class="form-group col-sm-5">
                    <label for="bay-form-number" class="text-info">B-Form Number  </label>
                    <input type="text" class="form-control" id="B_form" name="b_form" placeholder="B-Form Number">
                </div>


                <div class="container">
                    <input type="submit" class="btn btn-info btn-lg" id="submitButton" onclick="EmptyValidation()">
                </div>


                </form>
            </div>
            <div>
                
            </div>


    </div>
    
</body>
</html>